.iewp_crunchstats_report_select_container {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.iewp_crunchstats_refresh {
    color: #72777c;
}

.iewp_crunchstats_refresh span {
    padding-top: 4px;
}

.iewp_crunchstats_report ul li {
    overflow-x: hidden;
    display: inline-block;
    width: 98%;
    white-space: nowrap;
    border-bottom: 1px solid #eee;
    padding: 0px 0px 4px 0px;
    margin:0;
}

.iewp_crunchstats_report ul li:last-child {
    border-bottom: none;
}

.iewp_crunchstats_report ul li span.timestamp,
.iewp_crunchstats_report ul li span.count  {
    color: #72777c;
    display: inline-block;
    min-width: 100px
}

.iewp_crunchstats_report ul li span.count {
    min-width: 60px;
}

.iewp_crunchstats .nodata {
    color: #72777c;
}

.iewp_crunchstats_loading {
    color: #72777c;
}

.iewp_crunchstats_loading img {
    vertical-align: middle;
    margin-right: 6px;
}

.iewp-ref-info {
    display: block;
    margin-top: 6px;
}

.refer-recent .iewp-ref-info {
    margin-left: 100px;
}

.refer-common .iewp-ref-info {
    margin-left: 60px;
}

a.iewp-referer {
    box-shadow: none;
}

.iewp-sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
